* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
}

body, html {
    background: #f3f3f3;
}

header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    background: #0C1618;
    transition: 300ms;
    box-shadow: 0px 1px 10px 1px #0C1618;
}

.inf-1 {
    width: 50%;
    display: flex;
    align-items: center;
}

.ico {
    display: flex;
    justify-content: center;
    width: 5rem;
    height: 100%;
}

.ico > img {
    width: 3rem;
    height: 100%;
}

.nome-prestador {
    margin-left: .7rem;
}

.nome-prestador > h3 {
    font-size: .9rem;
    color: #fff;
    font-weight: 300;
}

.inf-2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.usuario {
    font-size: .9rem;
    color: #fff;
    font-weight: 300;
    margin-right: 2rem;
}

.ico-sair {
    height: 100%;
    padding: 0 0.625rem;
    background: #0C1618;
}

.ico-sair > a {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 0.625rem;
}

.ico-sair > a > img {
    width: 2.5rem;
}

.ico-sair:hover {
    background: #1d353a;
    transition: 300ms;
}

aside {
    height: calc(100vh - 4rem);
    width: 5rem;
    background: #172a2e;
    transition: 400ms;
    padding-top: 10px;
}

aside:hover {
    width: 15rem;
    transition: 400ms;
}

li > a {
   padding: 1rem 0;
}

li > a:hover {
    background: #324b50;
    transition: 200ms;
}

li > a {
    display: flex;
    align-items: center;
}

li > a > img {
    width: 2.2rem;
    margin-left: 1.3rem;
}

li > a > p {
    font-size: .8rem;
    margin-left: 2rem;
    color: #f3f3f3;
}