* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
}

body, html {
    width: 100vw;
    height: 100vh;
    background: #f3f3f3;
}

.top {
    height: 300px;
    background: #172a2e;
}

form {
    max-width: 100%;
    width: 500px;
    margin: -90px auto;
    background: #fff;
    border-radius: 5px;
    transition: 300ms;
}


form > h2 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    padding: 20px;
}

.log {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.log > input {
    width: 350px;
    height: 50px;
    margin-top: 40px;
    font-size: 1.2rem;
    padding: .8rem;
    border-bottom: 1px solid #e4e4e4;
}

.log > input:focus {
    border-bottom: 1px solid #172a2e;
    box-shadow: 0px 10px 13px -7px #172a2e;
}

.log > button {
    width: 350px;
    height: 50px;
    margin-top: 50px;
    cursor: pointer;
    background: #172a2e;
    color: #fff;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: 300ms;
}

.log > button:hover {
    background: #172a2ed9;
    transition: 300ms;
}
