* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
}

body, html {
    width: 100vw;
    height: 100vh;
    background: rgb(12,22,24);
    background: linear-gradient(180deg, rgba(12,22,24,1) 0%, rgba(12,22,24,0.7455357142857143) 75%, rgba(12,22,24,0.5242471988795518) 100%);
    display: flex;
}

form {
    height: 31.25rem;
    width: 56.25rem;
    max-width: 100%;
    margin: auto;
    display: flex;
    background: #fff;
    transition: 300ms;
    border-radius: .6rem;
}

.info {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(12,22,24);
    border-radius: .6rem 0 0 .6rem;
    box-shadow: -8px 4px 17px 2px rgb(23, 35, 38);
}

.info > h2 {
    margin-top: 8rem;
    font-family: 'Audiowide', cursive;
    font-size: 3rem;
    color: #fff;
    font-weight: 400;
    text-align: center;
}

.info > p {
    margin-top: 2rem;
    word-spacing: 0.625rem;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    line-height: 2.5rem;
}

.log {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log > p {
    font-size: 2rem;
    padding: 1.25rem;
}

.log > input {
    width: 21.875rem;
    height: 1.875rem;
    font-size: 1.2rem;
    margin-top: 3rem;
    padding: .8rem;
    border-bottom: 1px solid #e4e4e4;
}

.log > input:focus {
    border-bottom: 1px solid #172a2e;
    box-shadow: 0px 10px 13px -7px #172a2e;
}

.log > button {
    width: 21.875rem;
    height: 3.125rem;
    margin-top: 4.375rem;
    cursor: pointer;
    background: #172a2e;
    color: #fff;
    border-radius: 0.313rem;
    font-size: 1.1rem;
    transition: 300ms;
}

.log > button:hover {
    background: #172a2ed9;
    transition: 300ms;
}
