* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
}

body,
html {
    width: 100vw;
    height: 100vh;
    background: rgb(12,22,24);
    background: linear-gradient(180deg, rgba(12,22,24,1) 0%, rgba(12,22,24,0.7455357142857143) 75%, rgba(12,22,24,0.5242471988795518) 100%);
    display: flex;
}

video {
    display: none;
}

#form1 {
    height: 31.25rem;
    width: 56.25rem;
    max-width: 100%;
    margin: auto;
    display: flex;
    background: #fff;
    transition: 300ms;
    border-radius: 0.6rem;
}

.info {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(12, 22, 24);
    border-radius: 0.6rem 0 0 0.6rem;
    box-shadow: -8px 4px 17px 2px rgb(23, 35, 38);
}

.info > h2 {
    margin-top: 8rem;
    font-family: "Audiowide", cursive;
    font-size: 3rem;
    color: #fff;
    font-weight: 400;
    text-align: center;
}

.info > p {
    margin-top: 2rem;
    word-spacing: 0.625rem;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    line-height: 2.5rem;
}

.log {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log > p {
    font-size: 2rem;
    padding: 1.25rem;
}

.log > input {
    width: 21.875rem;
    height: 1.875rem;
    font-size: 1.2rem;
    margin-top: 3rem;
    padding: 0.8rem;
    border-bottom: 1px solid #e4e4e4;
}

.log > input:focus {
    border-bottom: 1px solid #172a2e;
    box-shadow: 0px 10px 13px -7px #172a2e;
}

.log > button {
    width: 21.875rem;
    height: 3.125rem;
    margin-top: 4.375rem;
    cursor: pointer;
    background: #172a2e;
    color: #fff;
    border-radius: 0.313rem;
    font-size: 1.1rem;
    transition: 300ms;
}

.log > button:hover {
    background: #172a2ed9;
    transition: 300ms;
}

#form2 {
    display: none;
}

/* Responsividade */

@media (max-width: 501px) {
    body, html {
        background: none;
    }

    #form1 {
        display: none;
    }

    #form2 {
        display: block;
        max-width: 21.875rem;
        margin: 6.25rem auto;
    }

    .info2 {
        max-width: 100%;
    }

    .info2 > h2 {
        font-family: "Audiowide", cursive;
        font-size: 3.8rem;
        color: #fff;
        font-weight: 400;
        text-align: center;
    }

    .info2 > p {
        margin-top: 1rem;
        word-spacing: 0.6rem;
        color: #fff;
        font-size: 1.2rem;
        line-height: 1.5rem;
        text-align: center;
    }

    .log2 {
        margin-top: 1.3rem;
        display: flex;
        flex-direction: column;
        padding: 0 0.938rem;
    }

    .log2 > input {
        width: 100%;
        background: none;
        margin-top: 1.8rem;
        color: #fff;
        border-bottom: 1px solid rgba(255, 255, 255, 0.309);
        padding: 0 0.313rem;
        font-size: 1rem;
    }

    .log2 > button {
        height: 2.5rem;
        margin-top: 4rem;
        border-radius: 2px;
        font-size: 1rem;
        color: #fff;
        background: #2b4a50;
        cursor: pointer;
        transition: 300ms;
    }

    .log2 > button:hover {
        background: #192d31;
    }

    video {
        display: block;
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1000;
        background-size: cover;
    }
}
